@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #1A1980;
  color: #f3e9cc;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #E31919;
  color: #000000;
}
